.App {
  text-align: center;
  width: 100vw;
}


.Pythagoras-introduction {
  background-color: white;
  height: 80vh;
}

.Pythagoras-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Pythagorean-container {
  background-color: white;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}


.Pythagorean-pronics {
  background-color: #282c34;
  height: 120vh;
  color: white;
}